@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

$white: #FFFFFF;
$light-blue-100: #F3F5FC;
$gray-400: #495057;
$gray-500: #343A40;
$light-blue-300: #D8DFE8;
$dark-blue-300: #0A3871;

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: $light-blue-100;
    padding: 20px;
}

/* Header */

.logo-container {
    width: 30px;
    height: 43.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    color: $dark-blue-300;
}

/* Buttons section */

.warning {
    color: $gray-400;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 16px;
    img {
        margin-right: 8px;
    }
}

button {
    border-radius: 24px;
    width: 255px;
    height: 56px;
}

@mixin buttonStyle ($textColor, $bgColor) {
    color: $textColor;
    background-color: $bgColor;
    border: 1px solid $dark-blue-300;
}

.button-principal {
    @include buttonStyle($textColor: $white, $bgColor: $dark-blue-300 );
}

.button-secondary {
    @include buttonStyle($textColor: $dark-blue-300, $bgColor: $light-blue-300 );
}

.buttonsContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.existAgain {
    /*Content restoration */
    display: block;
}

.noExist {
    display: none;
}

/* Two main sections contained here */

.mainDisplay {
    
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.finalMessageBox {
    background-color: $white;
    width: 350px;
    height: 80vh;
    min-width: fit-content;
    min-height: 460px;
    border-radius: 36px;
    padding: 20px;
}

.finalBoxElements {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.finalMessageTitle {
    color: $gray-500;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding: 0 10px;
}

.finalMessageDescription {
    color: $gray-400;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 0 10px;
}

/* Text Area */

textarea {
    resize: none;
    min-width: 370px;
    width: 60vw;
    height: 70vh;
    padding: 5px;
    border: 1px solid $gray-500;
    border-radius: 5px;

    &:focus, &:active {
        outline: 2px solid $dark-blue-300;
    }
    
}  

/* Media Queries */


/* Smartphones */
@media only screen and (max-width: 640px) {
    .buttonsContainer {
        flex-wrap: wrap;
    }

    textarea {
        height: 50vh;
    }
}


/* Tablets */
@media only screen and (max-width: 810px) {

    .interactionSection{
        margin: 20px 0;
    }

    .buttonsContainer {
        display: flex;
        justify-content: center;
    }

    textarea {
        min-width: 150px;
        width: calc(100vw - 40px);
    }

    .finalMessageBox {
        width: calc(100vw - 40px);
        min-height: 200px;
        height: 200px;
        justify-content: center;
    }

    #personPicture {
        display: none;
    }
}

