@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #F3F5FC;
  padding: 20px;
}

/* Header */
.logo-container {
  width: 30px;
  height: 43.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  color: #0A3871;
}

/* Buttons section */
.warning {
  color: #495057;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 16px;
}
.warning img {
  margin-right: 8px;
}

button {
  border-radius: 24px;
  width: 255px;
  height: 56px;
}

.button-principal {
  color: #FFFFFF;
  background-color: #0A3871;
  border: 1px solid #0A3871;
}
.button-principal:hover {
  background-color: #356EA9;
  transition: 200ms;
}
.button-principal:active {
  background-color: #868E96;
  transition: 50ms;
}

.button-secondary {
  color: #0A3871;
  background-color: #E9ECF8;
  border: 1px solid #0A3871;
}
.button-secondary:hover {
  color: #FFFFFF;
  background-color: #757FB2;
  transition: 200ms;
}
.button-secondary:active {
  background-color: #868E96;
  transition: 50ms;
}

.button-copy {
  color: #0A3871;
  background-color: #F3F5FC;
  border: 1px solid #0A3871;
  margin: 16px 0;
}
.button-copy:hover {
  color: #072B61;
  background-color: #609ED4;
  transition: 200ms;
}
.button-copy:active {
  background-color: #356EA9;
  transition: 50ms;
}

.buttonsContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
}

.existAgain {
  display: block;
}

.noExist {
  display: none;
}

/* Two main sections contained here */
.mainDisplay {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.finalMessageBox {
  background-color: #FFFFFF;
  width: 350px;
  height: calc(80vh - 56px);
  min-width: fit-content;
  min-height: 470px;
  border-radius: 36px;
  padding: 20px;
  white-space: normal;
  overflow-x: unset;
  overflow-y: auto;
}

.finalMessage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.finalBoxElements {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.finalMessageTitle {
  color: #343A40;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding: 0 10px;
}

.finalMessageDescription {
  color: #495057;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 0 10px;
}

.asideBar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#personPicture {
  width: 90%;
}

/* Text Area */
textarea {
  resize: none;
  min-width: 370px;
  width: 60vw;
  height: 70vh;
  padding: 5px;
  border: 1px solid #343A40;
  border-radius: 5px;
}
textarea:focus, textarea:active {
  outline: 2px solid #0A3871;
}

/* Media Queries */
/* Smartphones */
@media only screen and (max-width: 640px) {
  .buttonsContainer {
    flex-wrap: wrap;
  }
  textarea {
    height: 50vh;
  }
}
/* Tablets */
@media only screen and (max-width: 810px) {
  .interactionSection {
    margin: 20px 0;
  }
  .buttonsContainer {
    display: flex;
    justify-content: center;
  }
  textarea {
    min-width: 150px;
    width: calc(100vw - 40px);
  }
  .finalMessageBox {
    min-width: 150px;
    width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);
    min-height: 150px;
    height: 300px;
    justify-content: center;
  }
  #personPicture {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
